
body 
{
    background: #888888;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container
{
    position: relative;
    padding: 10px;
    width: 1400px;
    margin: auto;
}

.inline
{
    display: inline-block;
    vertical-align: middle;
}

.inlinekeys
{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.status
{
    width: 90px;
    height: 40px;
    margin: 50px auto;
    margin-left: 80px;
    border: medium solid #AAAAAA;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background: #000000;
    color: #005500;
    font-size: 1em;
    font-weight: bold;
}

table 
{
    line-height:140%; 
    padding:2px;
    text-align: center;
}

#screen
{
    width: 838px;
    height: 668;
    display: block;
	margin: 0 auto;
	border: medium solid #AAAAAA;
	border-radius: 25px;
}

#keyboard
{
#   text-align: left;
    margin-top: 15px;
}

.keys
{
    color: #FFFFDD;
    font-size: 1em;
}

.wider
{
    width: 7em;
    height: 2em;
}

.key
{
    width: 45px;
    height: 12px;
    border: 2px solid #333333;
    background: #AAAAAA;
    cursor: pointer;
    margin: auto;
}

.kbkey
{
    width: 50px;
    height: 50px;
    border: 2px solid #333333;
    background: #666666;
    cursor: pointer;
    margin: auto;
    border-radius: 6px;
    display: table-cell;
    vertical-align: middle;
}

.kbkeylight
{
    width: 50px;
    height: 50px;
    border: 2px solid #333333;
    background: #8c8c8c;
    cursor: pointer;
    margin: auto;
    border-radius: 6px;
    display: table-cell;
    vertical-align: middle;
}
.kbkeybreak
{
    width: 50px;
    height: 50px;
    border: 2px solid #333333;
    background: #b38f00;
    cursor: pointer;
    margin: auto;
    border-radius: 6px;
    display: table-cell;
    vertical-align: middle;
}

.centerline {
   width: 90%;
   margin: auto;
   text-align: center; 
   padding: 10px;
   height: 1em;
}

.centerline div {
   width: 100%;
   border-bottom: 2px solid #FFFFDD; 
   margin-top: 0px;
   height: 50%;
}

.centerline span { 
    background: #888888;
    padding: 0 5px;
    margin: auto;
}

.mainbtn {
	width:	80px;
}


/* Styling related to Storage window */

#storage
{
    text-align: left;
    position: absolute;
    margin: auto;
    left: 295px;
    top: 50px;
    border: solid #aaaaaa 2px;
    padding: 10px;
    color: #80ff00;
    background-color: #777777;
    opacity: 0.93;
    font-size: 12px;
    font-family: verdana;
    width: 620px;
    height: 570px;
    box-shadow: 5px 5px 2px #333333;
}

#fileViewer
{
  border: 2px solid #aaaaaa;
  width:  620px;
  height: 390px;
  color: #ffffff;
  background-color: #202020;
  resize: none;
}

#fileNum
{
  width:  35px;
}

#fileSecret
{
  width:  40px;
}

#fileSize
{
  width:  56px;
}

#fileInfoCtrls
{
  position: absolute;
  top: 48px;
  left: 10px;
}

#fileWindow
{
  position: absolute;
  top: 70px;
  left: 10px;
}

#importCtrls
{
  position: absolute;
  bottom: 52px;
  right: 10px;
}

#savefnum
{
  position: absolute;
  bottom: 52px;
  left: 10px;
}

#importbtn
{
  position: absolute;
  right: 220px;
}

#importFile
{
  overflow: hidden;
}

#filelist
{
  width:  50px;
}

#importType
{
  width:  200px;
}

#storebtns1
{
  position: absolute;
  left: 10px;
  bottom: 20px;
}

#storebtns3
{
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.storestyle1
{
  border: 2px solid #aaaaaa;
  color: #ffffff;
  background-color: #202020;
}

.storebtn
{
  width: 60px;
}


